{{ define "main" }}
  <div class="post">
<!--
    <div class="post-meta">
      {{ with .Date | default nil }}
        <span class="post-date">
            {{ .Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}
        </span>
      {{ end }}
      {{ with .Params.Author }}<span class="post-author">— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>{{ end }}
      {{ if $.Site.Params.ShowReadingTime }}
        <span class="post-read-time">— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
		<span class="post-read-time">— {{ .WordCount }} {{ $.Site.Params.wordCount | default "words" }}</span>

      {{ end }}
    </div>

    {{ if .Params.tags }}
      <span class="post-tags">
        {{ range .Params.tags }}
          #<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </span>
    {{ end }}
--> 

      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <div class="post-meta">
        {{ if .Date }}
          <span class="post-date">
            <i class="fas fa-calendar-day"></i> {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
          </span>
        {{ end }}
        {{ with .Params.Author }}
		<span class="post-author"> — 
		<i class="fas fa-user-ninja"></i> {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>{{ end }}
        {{ if $.Site.Params.ShowReadingTime }}
          <span class="post-read-time" > — <i class="fas fa-hourglass-half"></i> {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
		  <span class="post-read-time"> — <i class="fas fa-book-dead"></i> {{ .WordCount }} {{ $.Site.Params.wordCount | default "words" }}</span>

        {{ end }}
      </div>

      {{ if .Params.tags }}
        <span class="post-tags">
          {{ range .Params.tags }}
            <i class="fas fa-tag"></i>
			<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </span>
      {{ end }}

      {{ if .Params.tags }}
        <span class="post-categories">
          {{ range .Params.categories }}
            <i class="fas fa-folder-open"></i>
			<a href="{{ (urlize (printf "categories/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </span>
      {{ end }}


    {{ if .Params.Cover }}
      {{ if .Params.UseRelativeCover }}
        <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" class="post-cover" />
      {{ else }}
        <img src="{{ .Params.Cover | absURL }}" class="post-cover" />
      {{ end }}
    {{ end }}

    <br>
	{{ partial "sharing.html" . }}

    <div class="post-content">

      <!-- {{ .TableOfContents }} -->
      {{ .Content }}
	 
	 <!-- Author Box (03/02/2020-->
     {{- partial "author_box.html" . }}
	 <!-- Author Box (03/02/2020-->

			 <!-- {{ partial "share-buttons.html" . }} -->

		 <!-- {{ partial "share-links" . }} -->
			 
    </div>
    {{ if eq .Type $.Site.Params.contentTypeName }}
      {{ if or .NextInSection .PrevInSection }}
        <div class="pagination">
          <div class="pagination__title">
            <span class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts | default "Read other posts" }}</span>
            <hr />
          </div>
          <div class="pagination__buttons">
            {{ if .NextInSection }}
              <span class="button previous">
                <a href="{{ .NextInSection.Permalink }}">
                  <span class="button__icon">←</span>
                  <span class="button__text">{{ .NextInSection.Title }}</span>
                </a>
              </span>
            {{ end }}
            {{ if .PrevInSection }}
              <span class="button next">
                <a href="{{ .PrevInSection.Permalink }}">
                  <span class="button__text">{{ .PrevInSection.Title }}</span>
                  <span class="button__icon">→</span>
                </a>
              </span>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}
    

    {{ if not (eq .Params.Comments "false") }}
      {{ if or (eq .Type $.Site.Params.contentTypeName) (.Params.Comments) }}
        {{ partial "comments.html" . }}
      {{ end }}
    {{ end }}
    
    </div>
{{ end }}
