<style>
/* Media Object */
.media {
  display: flex;
  align-items: flex-start;
}
.media-figure {
  margin-right: 1em;
}
.media-body {
  flex: 1;
}

/* Author Box Styles */
.author-box {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 2px;
	font-size:small;
}
</style>



<div class="media author-box">

    <div class="media-figure">
        <img src="/img/avatar-valdecir-8bits.png" width="100" height="100">
    </div>

    <div class="media-body">
        <p>Valdecir Carvalho é um nerd e pai orgulhoso da Mariana e João. Atualmente trabalha como Arquiteto de Soluções Sr. na UHG Brasil, É um profissional sênior de TI com foco em arquitetura de infraestrutura e cloud computing. Valdecir também é blogueiro, podcaster, palestrante, amante de comunidades técnicas, fotógrafo aposentado e adora jogos antigos. Se destaca e é membro de várias comunidades de tecnologia, como VMware vExpert, VMUG, vBrownBag e Veeam Vanguard. Ele também dedica seu tempo como blogueiro do Homelaber Brasil e como podcaster no vBrownBag Brasil.Você vai encontrá-lo no twitter como @homelaber e seu site pessoal é http://valdecir.me #vExpert · #VMUGLeader · #VUGBrasil · #vBronwBagBrasil · #VeeamVanguard</p>
		<p><i class="fab fa-github-square"></i>
           </p>
        <!--<div class="author-icons">
            
        </div> -->
    </div>

</div>